a {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../img/demo_logo_mini.png') no-repeat;
  background-size: 100% 100%;
  height: 101.5px;
  width: 100px;
  margin: 0 auto;
}
@media screen and (min-width: 605px) {
  .logo {
    float: left;
    margin: 1em 3%;
  }
}
@media screen and (min-width: 900px) {
  .logo {
    margin: 1em 0.5em 1em 0;
  }
}
.logo a {
  display: block;
  height: 100%;
}

.nav-main > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 1em 0;
}
@media screen and (min-width: 605px) {
  .nav-main > ul {
    float: left;
    min-width: 70%;
    margin-top: 105px;
  }
}
.nav-main > ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
  min-width: 33%;
}
.nav-main > ul > li:first-child, .nav-main > ul > li.first {
  padding-left: 0;
}
.nav-main > ul > li:last-child {
  padding-right: 0;
}
.nav-main > ul > li.last {
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  .nav-main > ul > li {
    min-width: 20%;
  }
}
.nav-main > ul > li.active a {
  border-bottom: 3px solid green;
  color: green;
}
.nav-main > ul a {
  border-bottom: 3px solid transparent;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  font-weight: bold;
  text-align: center;
}
.nav-main > ul a:hover {
  border-bottom: 3px solid green;
  color: green;
}

.content {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

article {
  margin: 1em 3%;
}
@media screen and (min-width: 605px) {
  article {
    float: left;
    width: 27.33%;
    margin: 1em 3% 1em 3%;
  }
}
@media screen and (min-width: 900px) {
  article {
    float: left;
    width: 27.33%;
    margin: 1em 6% 1em 0;
  }
}

footer {
  clear: both;
  text-align: center;
  margin-top: 2em;
}
