@import "compass";

$color-nav: black;
$color-navH: green;
$color-navBorder: $color-navH;

$width-table: 605px;
$width-desktop: 900px;
$page_max_width: 900px;

a {
	color: black;
}
img {
	max-width: 100%;
	height: auto;
}

header {
	text-align: center;
}
.container {
	max-width: $page_max_width;
	margin: 0 auto;
}
.logo {
	//@include replace-text-with-dimensions("demo_logo_mini.png");
	@include hide-text();
	background: image-url("demo_logo_mini.png") no-repeat;
	background-size: 100% 100%;
	height: image-height("demo_logo_mini.png") / 2;
	width: image-width("demo_logo_mini.png") / 2;
	margin: 0 auto;
	@media screen and (min-width: $width-table) {
		float: left;
		margin: 1em 3%;
	}
	@media screen and (min-width: $width-desktop) {
		margin: 1em 0.5em 1em 0;
	}

	a {
		display: block;
		height: 100%;
	}
}

.nav-main {
	> ul {
		@include horizontal-list-container();
		margin: 1em 0;

		@media screen and (min-width: $width-table) {
			float: left;
			min-width: 70%;
			margin-top: 105px;
		}

		> li {
			@include horizontal-list-item(0);
			min-width: 33%;

			// &:nth-last-child(2),&:nth-last-child(1) {
			// 	min-width: 50%;
			// }

			@media screen and (min-width: 480px) {
				min-width: 20%;
			}

			&.active {
				a {
					border-bottom: 3px solid $color-navBorder;
					color: $color-navH;
				}
			}
		}
		a {
			border-bottom: 3px solid transparent;
			text-decoration: none;
			padding: 0.5em;
			display: block;
			font-weight: bold;
			text-align: center;

			&:hover {
				border-bottom: 3px solid $color-navBorder;
				color: $color-navH;
			}
		}
	}
}

.content {
	@include clearfix();
	width: 100%;
}
article {
	margin: 1em 3%;

	@media screen and (min-width: $width-table) {
		float: left;
		width: 27.33%;
		margin: 1em 3% 1em 3%;
	}
	@media screen and (min-width: $width-desktop) {
		float: left;
		width: 27.33%;
		margin: 1em 6% 1em 0;
	}
}

footer {
	clear: both;
	text-align: center;
	margin-top: 2em;
}
